.woocommerce-checkout {

	.woocommerce-thankyou-order-received {
		@extend .alert;
		@extend .alert-success;
	}

	.wc_payment_methods {
		display: none;
	}

	.woocommerce-shipping-fields {
		@extend .row;
		margin-top:40px;
		margin-bottom:40px;
	}

	.sys-button {
		margin-top: 40px;
	}

}
