.home-cat-selector {
	float: left;
	clear: none;

	@media screen and (max-width: $screen-sm) {
		width: 100%;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0 0 20px 0;

		li {
			@extend .sys-button;
			cursor: pointer;
			margin-right: 20px;
			@media screen and (max-width: $screen-sm) {
				margin-right: 5px;
			}
			@media screen and (max-width: $screen-xs) {
				display: block;
				margin-top: 10px;
			}
		}

		.active {
			background: $light-grey;
		}
	}
}

.home-search {
	float: left;
	clear: none;

	@media screen and (max-width: $screen-xs) {
		width: 100%;
		margin-bottom: 40px;
	}

	.home-search-select {
		display: inline;
		margin-right: 20px;
		max-width: 200px;

		@media screen and (max-width: $screen-xs) {
			width: 100%;
			margin-bottom: 20px;
		}
	}

	input {
		border: solid 2px $light-blue;
		padding: 8px 15px;
		// width: 100%;
		margin: 0;

		@media screen and (max-width: $screen-xs) {
			width: 100%;
		}
	}

}

.home-cat {
	float: left;
	clear: both;
	width: 100%;
}

.home__cat__title {
	// @extend .row;
	margin-top: 0;
	// margin-bottom: 40px;
	line-height: 100%;
	padding: 20px 0;
	// border-left:solid 5px $light-blue;
	// border-bottom: solid 2px $light-grey;
}

.products {
	// @extend .row;
	list-style-type: none;
	padding: 0;

	li {
		height: 220px;
		overflow: hidden;
		@extend .col-sm-3;
		@extend .col-xs-6;
		// text-align: center;
		margin-bottom: 40px;

		del {
			color: $light-grey;
		}

		a {
			@extend .vertical-padding-extra-large;
			padding-left: 15px;
			position: relative;
			padding-right: 15px;
			display: block;
			z-index: 2;
			h1, h2, h3, h4, h5, h6 {
				color: $dark-grey;
				font-size: 1.4em;
			}

			&:after {
				@extend %tran;
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 5px;
				background: $very-light-grey;
				z-index: -1;
			}

			&:hover {

				&:after {
					width: 100%;
				}
			}

			&:active {

				&:after {
					background: $light-blue;
				}
			}
		}

		.price del {
			margin-right: 10px;
		}

		a:last-child {
			display: none;
		}

		@media screen and (max-width: $screen-sm) {
			&:nth-child(2n+1) {
				clear: both;
			}
		}

		@media screen and (max-width: $screen-xs) {
			width: 100%;
		}
	}

	h3 {
		font-size: 1.2em;
		margin-bottom: 10px;
	}
}
