.woocommerce-account, .woocommerce-edit-account
{

	.myaccount_user
	{
		.intro
		{
			display: block;
			font-size: 1.1em;
		}
	}

	h2,h3
	{
		padding-bottom: 10px;
		border-bottom:solid 2px $light-grey;
		margin-bottom: 20px;
	}

	h2 
	{
		font-size: 1.8em;
	}

	h3
	{
		font-size: 1.5em;
	}

	.page-title
	{
		padding-bottom: 40px; 
	}

	table
	{
		display: block;
		margin-bottom:40px;
		overflow-x:auto;
		
		tr 
		{
			background: $very-light-grey;
				
				&:nth-of-type(even)
				{
					background: $light-grey;
				}
		}

		td, th
		{
			padding:5px 10px;
		}

		th
		{
			border-bottom: solid 1px $dark-grey;
		}
	}
}