.woocommerce-account, .woocommerce-edit-account, .woocommerce-edit-address
{

	.myaccount_user
	{
		.intro
		{
			display: block;
			font-size: 1.1em;
		}
	}

	h2,h3
	{
		font-size: 1.8em;
	}

	.page-title
	{
		padding-bottom: 40px; 
	}

}

table
{
	display: block;
	margin-bottom:40px;
	overflow-x:auto;
	
	tr 
	{
		background: $very-light-grey;
			
			&:nth-of-type(even)
			{
				background: $light-grey;
			}
	}

	td, th
	{
		padding:5px 10px;
	}
}

// // //
// styles for edit address
// // //
label
{
	display: block;
	width:100%;
	font-weight: normal;
}

.form-grid
{
	column-count:3;
	column-width: 33.0%;

	@media (max-width: $screen-sm){
		column-count:1;
		column-width:100%;
	}

	p
	{
		column-break-inside : avoid;
		break-inside: avoid-column;
	}

}


// // //
// styles for "view order"
// // //
.woocommerce-view-order
{

}