.woocommerce-cart {

	.product {
		@extend .vertical-padding;
	}

	.product-name {
		font-size: 1.3em;
	}

	.product-remove {
		width: auto;
		.cross {
			font-size: 1.8em;
			margin-right: 10px;
			vertical-align: bottom;
		}
	}

	.product-thumbnail {
		border-right: solid 2px $light-grey;
		padding: 0 15px;
		img {
			margin: 0 auto;
			max-width: 100%;
		}

		@media screen and (max-width: $screen-sm) {
			border-right-style: none;
			border-bottom: solid 2px $light-grey;
			margin-bottom: 20px;
			padding: 0;

			img {
				margin: 0 0 20px 0
			}
		}
	}

	.product-right div {
		margin-bottom: 20px;

		input {
			max-width: 100%;
		}
	}

	.button {
		display: block;
		margin: 40px 0;
		@extend .sys-button;
		display: inline-block;
	}

	table {
		max-width: 300px;
		margin: 0;
	}
}