.single-product 
{

	.page-title
	{
		padding-top:0;
	}

	.woocommerce-breadcrumb
	{
		margin:40px 0 10px 0;

			a
			{
				padding:10px 15px;

					&:first-of-type
					{
						margin-left: -15px;
					}
			}
	}

	.images
	{
		img
		{
			cursor: zoom-in; 
			max-height: 300px;
			width:auto;
			margin:0 auto;
		}
	}

	.single-product-price-container
	{
		border-bottom: solid 2px $light-grey;
		font-size: 1.2em;
			
			ins .amount
			{
				&:after
				{
					content: "Sale!";
					background: $dark-grey;
					padding:10px 15px;
					color:#fff;
					margin-left: 20px;
				}
			}

			del
			{
				margin-right:20px;
				opacity: 0.5;
			}

	}

	.cart
	{
	
		input, button {
			width:100%;
		}

		input {
			padding: 10px 15px;
			margin-top: 20px;
		}

		button {
			margin-top: 20px;
		}
	}

	hr {
		margin:20px 0;
	}

	.single-product-up-sells
	{
		ul 
		{
			@extend .row;
		}
	}
}