.single-product {

	.single-product-price-container {

		ins .amount {
			&:after {
				content: "Sale!";
				background: $dark-grey;
				padding: 10px 15px;
				color: $very-light-grey;
				margin-left: 20px;
			}
		}

		del {
			margin-right: 20px;
			opacity: 0.5;
		}

	}

	.cart {

		input, button, select {
			width: 100%;
		}

		input {
			margin-top: 20px;
		}

		button {
			margin-top: 20px;
		}

		select {
			margin-bottom: 20px;
		}
	}

	hr {
		margin: 20px 0;
	}

	.single-product-up-sells {
		padding: 0 15px;
	}

	.price {
		display: inline;
	}

	.quantity-simple {
		margin: 20px 0 0 0;
	}

	.woocommerce-variation-price {
		display: block;
		margin: 0 0 20px 0;
	}

	.related-products-heading {
		display: block;
		margin: 20px 0 40px 0;
		padding-top: 40px;
		border-top: solid 2px $light-grey;
	}

	.single-after-product .product {
		width: 50% !important;
		max-width: 50% !important;
	}

}

.product_title_extra {
	font-size: 0.9em;
	color: $dark-grey;
}

// // //
// single product page
// // //

.single__product__compatible__list {
	list-style-type: decimal;
	padding: 0 0 0 20px;
}

.single__product__image {
	cursor: zoom-in;
}

// // //
// loop products
// // //

.loop__products {
	@extend .row;
	transition: 0.3s;
}

.loop__product {
	margin: 0 0 30px 0;
	@extend .col-xs-12;
	@extend .col-sm-4;
	@extend .col-md-3;
}

.loop__product__link {
	@extend %tran;
	color: $very-light-grey;
	background: $light-blue;
	box-shadow: 0px 0px 15px 2px rgba($dark-grey, 0.3);
	display: block;
	padding: 15px;
	cursor: cell;

	&:hover {
		//opacity: 0.8;
		box-shadow: 0px 0px 15px 2px rgba($dark-grey, 0.5);
	}
}

.loop__product__image__container {
	padding: 0;
	background: $very-light-grey;
	margin: -14px -14px 0 -14px;
}

.loop__product__image {
	margin: 0 auto;
}

.loop__product__header {
	//border-bottom: inset 2px $light-grey;
	font-size: 18px;
	overflow: hidden;
}

.loop__product__title {
	display: block;
	position: relative;
	margin: 0;
	padding: 20px 0 0 0;
	font-size: 1em;
	color: $very-light-grey;
}

.loop__product__price {
	font-size: 0.8em;
	letter-spacing: 1px;
	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
	color: $very-light-grey;
	border-bottom: solid 1px #fff;
}

.loop__product__link, .loop__product a {
	color: $very-light-grey;
}

.loop__product__excerpt {
	//text-align: justify;
	color: $very-light-grey;
	margin: 0 0 0;
	padding: 0;
}

.alert__text--right {
	text-align: center;
	margin: 0;

	@media screen and (min-width: $screen-sm) {
		float: right;
	}
}

.alert__text--left {
	text-align: center;
	margin: 0;

	@media screen and (min-width: $screen-sm) {
		float: left;
	}
}