.woocommerce-breadcrumb {
	margin: 20px 0!important;
	a {
		color:$light-blue!important;
	}
}

.attachment-shop_single {
	max-height:400px;
	width:auto!important;
	margin:0 auto 20px auto!important;
}

.related {
	@extend .vertical-padding-large;
	border-top: solid 2px $light-grey;
	float:left;
}